.logo {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  text-align: center;
}
.mainContainer h1 {
  font-size: 43px;
  margin: 20px 0;
  color: rgb(109, 6, 6);
}
.mainContainer p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #444;
  font-weight: 600;
}
.quoteText {
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 30px;
  color: #555;
  max-width: 600px;
}

@media (max-width: 768px) {
  .mainContainer h1 {
    font-size: 32px;
  }
  .quoteText {
    font-size: 1rem;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .mainContainer h1 {
    font-size: 24px;
    margin-top: 12px;
  }
  .mainContainer p {
    font-size: 1rem;
  }
}
