.container {
  max-width: 500px;
  margin: auto;
  padding: 50px 20px;
  text-align: center;
}
.container h2 {
  margin-bottom: 50px;
}
.inputContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.inputContainer input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #aaa;
  outline: none;
}

.inputContainer button {
  padding: 10px 20px;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.detailsBox {
  margin-top: 30px;
  text-align: left;
  background: #def8f8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  border-radius: 8px;
  white-space: pre-wrap;
}
.detailsBox h3 {
  margin: 10px 0 20px;
  text-align: center;
}
.detailsBox p {
  margin: 5px 0;
  font-family: "Chilanka", cursive;
  font-weight: 700;
  font-size: 20px;
}
.noArrows::-webkit-inner-spin-button,
.noArrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
