.logo{
  height: 60px;
  width: auto;
  object-fit: contain;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  text-align: center;
}
.mainContainer h1 {
  font-size: 43px;
  margin: 20px 0;
  color: rgb(109, 6, 6);
}
.mainContainer p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #444;
  font-weight: 600;
}
.quoteText {
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 30px;
  color: #555;
  max-width: 600px;
}
.getStartedButton {
  margin-top: 30px;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: 4px solid transparent;
  border-radius: 25px;

  background: 
    linear-gradient(#4CAF50, #38803b) padding-box,
    linear-gradient(to left, #bcdee8, #fddeb2) border-box;
  color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
}

.getStartedButton:hover {
  transform: scale(1.05);
}

.getStartedButton:active {
  transform: scale(0.98);
  background-color: #45a049;
}