main{
  margin-top: 20px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 80px;
  margin: 0 auto ;
  padding: 40px;
  border-radius: 25px  25px ;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.le {
  display: inline-flex;             
  align-items: center;              
  justify-content: center;         
  padding: 10px 15px;
  border-radius: 20px;
  text-align: center;
}


.le a {
  color: #000;                  
  text-decoration: none;         
  font-weight: 600;               
}    

.re >ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.re >ul >li >a {
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}


.dropdownBtnContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.dropdownBtn img {
  width: 100%;   
  height: auto;
  object-fit: contain;
}

.dropdownMenu {
  position: absolute;
  right: 0;
  top: 45px;
  background-color: #fddeb2;
  border-radius: 10px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  width: 160px;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.12);
}

.dropdownMenu a,
.dropdownMenu button {
  text-decoration: none;
  padding: 10px;
  color: #333;
  text-align: left;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 15px ;
  font-weight: bold ;
}
