.loading {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: rgb(94, 93, 93);
  margin-top: 100px;
}
.productsTitle {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
  color: #222;
}
.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.productCard {
  width: 230px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 16px;
  transition: transform 0.2s ease-in-out;
}

.productCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.productTitle {
  margin: 12px 0;
  font-size: 1.2rem;
  height: 80px;
  color: #333;
}
.productPrice {
  font-size: 1.1rem;
  color: #222;
  margin-bottom: 20px;
}
.productDescription {
  color: #666;
  line-height: 1.4;
  font-size: 0.9rem;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchBar {
  text-align: center;
  margin: 20px 0;
}

.searchBar input {
  width: 700px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.searchBar input:focus {
  outline: none;
}

.searchButton{
background-color: transparent;
border: none;
width: 25px;
height: 25px;
position: absolute;
}
.searchButton img {
  width: 100%;
  cursor: pointer;
  position: relative;
  top: 6px;
  right: 50px;
}
.noProducts img{
  width: 200px;
}
.noProducts p{
  text-align: center;
  font-size: 1.3rem;
  color: #666;
}

.sortContainer {
  text-align: left;
  padding: 0 5%;
  margin-bottom: 1rem;
}
.sortContainer label {
  font-weight: 600;
  margin-right: 10px;
}
.sortContainer label img{
  width:15px;
  margin-right: 5px;
}
.sortContainer select {
  padding: 7px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  width: 100px;
}
.sortContainer select:focus {
  outline: none;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 30px;
}

.pagination button {
  background-color: #e4e9ee;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.pagination button:hover {
  background-color: #ccc;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.activePage {
  background-color: #4caf50 !important;
  color: white !important;
  font-weight: bold;
  transform: scale(1.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
