.loading {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 5px;
  margin-top: 100px;
}
.productsTitle {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
  color: #222;
}
.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.productCard {
  width: 230px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 16px;
  transition: transform 0.2s ease-in-out;
}

.productCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.productTitle {
  margin: 12px 0;
  font-size: 1.2rem;
  color: #333;
}
.productPrice {
  font-size: 1.1rem;
  color: #222;
  margin-bottom: 20px;
}
.productDescription {
  color: #666;
  line-height: 1.4;
  font-size: 0.9rem;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
